<h1>Create a New Supply</h1>

<%= form_for @supply, url: {action: "create"} do |f| %>
 Category :<%= f.text_field :category %>
 Product Name :<%= f.text_field :product_name %>
 Brand :<%= f.text_field :brand %>
 Product ID :<%= f.text_field :product_id %>
 Description :<%= f.text_field :description %>
  <%= f.submit "Create" %>
<% end %>