<h1>Create a New Supply (for Donation):</h1>
<p>Use the form below to upload a new available supply. (Note: You may include the quantity in the description, if desired).</p>

<%= simple_form_for @supply do |f| %>
  <%= flash[:supply_errors] %>
  <%=f.input :category, as: :select,
     collection: Supply::CATEGORIES %>
  <%= f.input :brand %>
  <%= f.input :product_name %>
  <%= f.input :product_id, label: "Product ID" %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>
  <p> </p>
  <%= f.button :submit, 'Create' %>
<% end %>

<p>Please note that you must also add a shipping address if you are uploading supplies.</p>

<%= link_to '<button type="button">Add Shipping Address</button>'.html_safe, new_shipping_address_path %><span></span>
