<h1><%= @supply.product_name %><span> </span>Supply</h1>

<% if @supply.image.attached? %>
    <h4 class="c-title c-title--tiny"><%= image_tag url_for(@supply.image) %></h4>
<% end %>
<h4 class="c-title c-title--tiny"><%= @supply.product_name %></h4>
<h4 class="c-title"><%= @supply.brand + ' ' + @supply.product_id %></h4>
<h4 class="c-title c-title--tiny">Category: <%= @supply.category %></h4>
<br>
<h2>Description:</h2>
<p><%= @supply.description %></p>
<br>
<% if @supply.try(:user).try(:shipping_addresses).try(:first) %>
  <h4>Location: <%= @supply.user.shipping_addresses.first.city + "," + " " + @supply.user.shipping_addresses.first.state %></h4>
<% end %>
Owner: <%= @supply.try(:user).try(:name) %>
<br>
<br>
<%= link_to "Go Back to Supplies List", supplies_path %>
