<!DOCTYPE html>
<html>
  <head>
    <title>OstomyAngelsDonateAndSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<header>
      <div>
        <%= image_tag("angel.gif", class:"head-logo", style:"height: 35px;") %>
        Ostomy Angels Donate and Swap
      </div>
      <nav>
         <a href="<%= pages_about_path %>">About Us</a>
         <a href="<%= pages_faq_path %>">Faq</a>
         <a href="<%= pages_contact_path %>">Contact</a>
         <a href="<%= pages_links_path %>">Links</a>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div>
        <%= image_tag("angel.gif", style: "height:35px", class: "head-logo;")%>
        Ostomy Angels Donate and Swap
      </div>
      <p class="footer-tagline">
        the best source for complimentary ostomy supplies
      </p>
      <h6 class="copyright">
        Copyright 2018, Ostomy Angels Donate and Swap
      </h6>
    </footer>
  </body>
</html>
